.todoList {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-wrap: wrap;
}

.button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #89dbe6;
  cursor: pointer;
  margin: 0.4rem;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.paginationControls button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #89dbe6;
  cursor: pointer;
  margin: 0.4rem;
}

.paginationControls button:disabled {
  cursor: not-allowed;
  background-color: #eee;
  color: #aaa;
  border: 1px solid #ccc;
}
