.todoItem {
  padding-bottom: 0.5rem;
}

.todoItem button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #89dbe6;
  cursor: pointer;
  margin: 0.4rem;
}
